body {
    font-family: sans-serif;
    margin: 20px;
}

#imdb-form {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.filter-options {
    margin-bottom: 20px;
}

#results {
    border: 1px solid #ccc;
    padding: 10px;
}
